<!DOCTYPE=html>
<html>
<title> hello </title>
<head>
    <h1 style="text-align:center;
               font-family:hei serif;
               font-style:italic;
               font-variant:small-caps;
               font-weight:bold;
               font-size:2em;
               text-shadow:0px -1px 0px #000000,
                           0px 1px 3px #606060;
               color:#606060;
               ">
               this is a website about search test!</h1>
</head>
<body style="background-color:transparent; background-position:center">
    <p>{{results.first_name}}{{results.last_name}}</p>
    <form action="." method="GET">
        <p style="text-align:center;
                  letter-spacing:10px;
                  font-family:hei serif;
                  font-style:italic;
                  font-variant:small-caps;
                  font-weight:bold;
                  font-size:2em;
                  text-shadow:3px 5px 5px rgba(0,255,0,0.5);
                  outline-color:red;
                  outline-style:dotted;
                  outline-width:2px;
                  ">
                  欢迎光临本网站！</p>
        <p style="text-align:center; 
                  background-color:rgba(0,255,0,0.5);
                  color:red; text-indent:2em; 
                  word-spacing:10px; 
                  letter-spacing:10px; 
                  text-decoration:underline overline line-through; 
                  direction:rtl;">用户注册</p>
        <label for="first_name">姓氏</label>
        <input type="text" name="first_name" value=""/>
        <br/>
        <label for="last_name">名字</label>
        <input type="text" name="last_name" value=""/>
        <br/>
        <input type="submit" value="确定"/>
        <input type="submit" value="重置"/>
    </form>
    {% if error %}
        <p> {{ error }}不允许为空</p> 
    {% endif %}
    {% if results %}
        <p> {{results.first_name}}{{results.last_name}}这个名字已经被注册，请更换一个！</p>
    {% else %}
        <p>{{first_name}}{{last_name}}注册成功!</p>
    {% endif %}
    <ul>
        <li>语文</li>
        <li>数学</li>
        <li>物理</li>
        <li>化学</li>
    </ul>
    <table style="border:1px solid blue;
                  border-collapse:collapse;
                  caption-side:bottom;
                  table-layout:fixed;">
    <caption>成绩</caption>
    <tr>
        <th style="border:1px solid blue;
                   width:50px;
                   height:100px;
                   vertical-align:top;
                   text-align:right;
                   padding:10px;
                   ">语文</th>
        <th style="border:1px solid blue;">数学</th>
        <th>物理</th>
        <th>化学</th>
    </tr>
    <tr>
        <td>89</td>
        <td>92</td>
        <td>73</td>
        <td>96</td>
    </table>
</body>
</html>
